doctype html
html
    head
        title  YCP Hacks
        // CSS only
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='icon', type='image/x-icon', href='/static/images/favicon.png')
        link(rel='stylesheet', type='text/css', href='/static/stylesheets/dashboard.css')

    body
    .space

    #staticBackdrop.offcanvas.offcanvas-start(data-bs-backdrop='static', tabindex='-1', aria-labelledby='staticBackdropLabel')
        .offcanvas-header.bg-success
            h5#staticBackdropLabel.offcanvas-title Dashboard
            button.btn-close(type='button', data-bs-dismiss='offcanvas', aria-label='Close')
        .offcanvas-body.bg-success
            div
                #accordionFlushExample.accordion.accordion-flush
                    .accordion-item
                        h2#flush-headingOne.accordion-header
                            button.accordion-button.collapsed.text-white.bg-success(type='button', data-bs-toggle='collapse', data-bs-target='#flush-collapseOne', aria-expanded='false', aria-controls='flush-collapseOne') Challenge Design
                        #flush-collapseOne.accordion-collapse.collapse(aria-labelledby='flush-headingOne', data-bs-parent='#accordionFlushExample')
                            .accordion-body.bg-success
                                .d-grid.gap-2
                                    a.btn(href='/registrationSettings') Registration Settings
                                    // a.btn(href='#')
                                    a.btn(href='/teamSettings') Team Settings
                                    a.btn(href='/hardware') Hardware
                    .accordion-item
                        h2#flush-headingThree.accordion-header
                            button.accordion-button.collapsed.text-white.bg-success(type='button', data-bs-toggle='collapse', data-bs-target='#flush-collapseThree', aria-expanded='false', aria-controls='flush-collapseThree') Participant Management
                        #flush-collapseThree.accordion-collapse.collapse(aria-labelledby='flush-headingThree', data-bs-parent='#accordionFlushExample')
                            .accordion-body.bg-success
                                .d-grid.gap-2
                                    a.btn(href='/userList') Participant List
                                    a.btn(href='/teamManagement') Team Management
                    .accordion-item
                        h2#flush-headingTwo.accordion-header
                            button.accordion-button.collapsed.text-white.bg-success(type='button', data-bs-toggle='collapse', data-bs-target='#flush-collapseTwo', aria-expanded='false', aria-controls='flush-collapseTwo') Judging
                        #flush-collapseTwo.accordion-collapse.collapse(aria-labelledby='flush-headingTwo', data-bs-parent='#accordionFlushExample')
                            .accordion-body.bg-success
                                .d-grid.gap-2
                                    a.btn(href='/judgingSetup') Judging Setup
                                    a.btn(href='/judgingResults') Judging Results
                                    a.btn(href='/assignWinners') Assign Winners
                    .accordion-item
                        h2#flush-headingFour.accordion-header
                            button.accordion-button.collapsed.text-white.bg-success(type='button', data-bs-toggle='collapse', data-bs-target='#flush-collapseFour', aria-expanded='false', aria-controls='flush-collapseThree') Permission Management
                        #flush-collapseFour.accordion-collapse.collapse(aria-labelledby='flush-headingFour', data-bs-parent='#accordionFlushExample')
                            .accordion-body.bg-success
                                .d-grid.gap-2
                                    a.btn(href='/adminRoles') Administrator Roles
                hr
                //.dropdown
                //    a.account.d-flex.align-items-center.text-white.text-decoration-none.dropdown-toggle(href='#', data-bs-toggle='dropdown', aria-expanded='false')
                //        img.rounded-circle.me-2(src='/static/images/derek.png', alt='', width='32', height='32')
                //        strong admin
                //    ul.dropdown-menu.dropdown-menu-light.text-small.shadow
                //        li
                //            a.dropdown-item(href='#') Settings
                //        li
                //            a.dropdown-item(href='#') Profile
                //        li
                //            hr.dropdown-divider
                //        li
                //            a.dropdown-item(href='/welcomePage') Leave Administrator View
                //            a.dropdown-item(href='/welcomePage') Sign out

    button.menu.btn-primary(type='button', data-bs-toggle='offcanvas', data-bs-target='#staticBackdrop', aria-controls='staticBackdrop')
        svg.bi.bi-list(xmlns='http://www.w3.org/2000/svg', width='30', height='30', fill='currentColor', viewbox='0 0 16 16')
            path(fill-rule='evenodd', d='M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z')

    .page-header.pt-3
        .article.tots.shadow-lg


