body{
    font-family: "Courier New";
}

.tab-pane{
    background-color: white;
}

/* "One, Two, Three" including container around it */
.tab-content{
    color:black;
    /*background: rgba(0, 128, 0, 0.5);*/
}
.mt-4{
    border: 1px solid darkgreen;

}
.mt-3{
    height: 300px;
    overflow: auto;
}
/* Text in day tabs */


.nav-link{
    color: black;
}
/* Striped table with events */
.table-striped{
    color: white;

    /*background: rgba(0, 120, 0, 0.5);*/
}
.container{
    background: rgba(0, 128, 0, 0.5);
}

/* ------SCROLL BAR------*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: darkslategray;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/*-----------------------*/
/*Dropdown menu for page navigation */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: left;
    width: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.droplink:hover, .droplink:active{
    background-color: green;
}

/*FAQ Section*/
.active, .collapsible:hover {
    background-color: #ccc;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    text-align: center;
    width: 20%;
}
