doctype html
html
    head
        title  YCP Hacks

    body
        include includes/navbar.pug
        include includes/dashboardBar.pug

            .loop
                h1 Administrator Permissions
                p This is where you will see the administrators.