doctype html
// Required for TinyMCE to function as intended
head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='https://cdn.tiny.cloud/1/l98uiwxc22tkrn9c38ydpw4xpv7fg3ugcrjm3egkpmslsbpr/tinymce/6/tinymce.min.js', referrerpolicy='origin')

    title TinyMCE Demo
body
    form(action="" method="post")
        button(type="submit") Ralphs button



