doctype html
html
    head
        title  YCP Hacks
        // CSS only
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='icon', type='image/x-icon', href='/static/images/favicon.png')
        link(rel='stylesheet', type='text/css', href='/static/stylesheets/dashboard.css')
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD', crossorigin='anonymous')
        // included for scrollspy
        //link(href='https://getbootstrap.com/docs/5.3/assets/css/docs.css', rel='stylesheet')

    body
        include includes/navbar

        .space

        //    ADMINISTRATOR DASHBOARD VIEW
        nav
            #nav-tab.nav.nav-tabs.justify-content-center(role='tablist')
                button#nav-home-tab.nav-link.active(data-bs-toggle='tab', data-bs-target='#nav-home', type='button', role='tab', aria-controls='nav-home', aria-selected='false') Home
                button#nav-schedule-tab.nav-link(data-bs-toggle='tab', data-bs-target='#nav-schedule', type='button', role='tab', aria-controls='nav-schedule', aria-selected='false') Schedule
                button#nav-mentorship-tab.nav-link(data-bs-toggle='tab', data-bs-target='#nav-mentorship', type='button', role='tab', aria-controls='nav-mentorship', aria-selected='false') Mentorship
                button#nav-checkIn-tab.nav-link(data-bs-toggle='tab', data-bs-target='#nav-checkIn', type='button', role='tab', aria-controls='nav-checkIn', aria-selected='false') Check In
                button#nav-applications-tab.nav-link(data-bs-toggle='tab', data-bs-target='#nav-applications', type='button', role='tab', aria-controls='nav-applications', aria-selected='false') Applications
                button#nav-hardware-tab.nav-link(data-bs-toggle='tab', data-bs-target='#nav-hardware', type='button', role='tab', aria-controls='nav-hardware', aria-selected='false') Hardware
                button#nav-prizes-tab.nav-link(data-bs-toggle='tab', data-bs-target='#nav-prizes', type='button', role='tab', aria-controls='nav-prizes', aria-selected='false') Prizes
                button#nav-projects-tab.nav-link(data-bs-toggle='tab', data-bs-target='#nav-projects', type='button', role='tab', aria-controls='nav-projects', aria-selected='false') Projects
                button#nav-admins-tab.nav-link(data-bs-toggle='tab', data-bs-target='#nav-admins', type='button', role='tab', aria-controls='nav-admins', aria-selected='false') Admin

        #nav-tabContent.tab-content
            #nav-home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-home-tab', tabindex='0')
                .outside.bd-example.bd-example-cols.m-3
                    .container.text-center
                        .row.row-cols-sm-2.row-cols-md-4.g-4.g-lg-4
                            .col.text-decoration-none
                                .p-3 Total Applicants
                                    span.badge.text-bg-secondary.m-1 0
                            .col.text-decoration-none
                                .p-3 RSVP&apos;d
                                    span.badge.text-bg-secondary.m-1 0
                            .col.text-decoration-none
                                .p-3 Hardware Checkouts
                                    span.badge.text-bg-secondary.m-1 0
                            .col.text-decoration-none
                                .p-3 Mentorship Requests
                                    span.badge.text-bg-secondary.m-1 0
                            .col.text-decoration-none
                                .p-3 Listed Events
                                    span.badge.text-bg-secondary.m-1 0
                            .col.text-decoration-none
                                .p-3 Listed Prizes
                                    span.badge.text-bg-secondary.m-1 0
                            .col.text-decoration-none
                                .p-3 Hardware Items
                                    span.badge.text-bg-secondary.m-1 0
                            .col.text-decoration-none
                                .p-3 Listed Projects
                                    span.badge.text-bg-secondary.m-1 0

                .row.row-cols-1.row-cols-md-2.g-4.text-center.m-3
                    .col
                        .card
                            .card-body
                                h5.card-title Upcoming Events
                                p.card-text
                                    table.table
                                        thead
                                            tr
                                                th(scope='col') Event
                                                th(scope='col') Time
                                        tbody
                                            tr
                                                td Event
                                                td 10:00
                                            tr
                                                td Event 1
                                                td 12:00
                                a.btn.btn-secondary(href='#') View All
                    .col
                        .card
                            .card-body
                                h5.card-title Card title
                                p.card-text
                                    | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                                a.btn.btn-primary(href='#') Go somewhere
                    //.col
                    //    .card
                    //        .card-body
                    //            h5.card-title Card title
                    //            p.card-text
                    //                | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    //            a.btn.btn-primary(href='#') Go somewhere
            #nav-schedule.tab-pane.fade(role='tabpanel', aria-labelledby='nav-schedule-tab', tabindex='0')
                h1.m-2 Schedule
                .container-md.p-2.border
                    .card.mb-3
                        .row.g-0
                            .col-sm-4
                                svg.bd-placeholder-img.img-fluid.rounded-start(width='100%', height='150', xmlns='http://www.w3.org/2000/svg', role='img', aria-label='Placeholder: Image', preserveaspectratio='xMidYMid slice', focusable='false')
                                    title Placeholder
                                    rect(width='100%', height='100%', fill='#868e96')
                                    text(x='50%', y='50%', fill='#dee2e6', dy='.3em') 10:00 PM
                            .col-sm-8
                                .card-body
                                    h5.card-title Card title
                                    p.card-text
                                        | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                                    p.card-text
                                        small.text-muted Location: xxx
                    .card.mb-3
                        .row.g-0
                            .col-sm-4
                                svg.bd-placeholder-img.img-fluid.rounded-start(width='100%', height='150', xmlns='http://www.w3.org/2000/svg', role='img', aria-label='Placeholder: Image', preserveaspectratio='xMidYMid slice', focusable='false')
                                    title Placeholder
                                    rect(width='100%', height='100%', fill='#868e96')
                                    text(x='50%', y='50%', fill='#dee2e6', dy='.3em') Image
                            .col-sm-8
                                .card-body
                                    h5.card-title Card title
                                    p.card-text
                                        | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                                    p.card-text
                                        small.text-muted Location: xxx
            #nav-contact.tab-pane.fade(role='tabpanel', aria-labelledby='nav-contact-tab', tabindex='0') ...


            #nav-checkIn.tab-pane.fade(role='tabpanel', aria-labelledby='nav-checkIn-tab', tabindex='0')
                .outside.bd-example.bd-example-cols.m-3
                    .container.text-center
                        .row.row-cols-sm-2.row-cols-md-2.g-4.g-lg-4
                            a.col.text-decoration-none(href="")
                                .p-3 Checked In Attendees
                                    span.badge.text-bg-secondary.m-1 0
                            a.col.text-decoration-none(href="")
                                .p-3 RSVP&apos;d Users
                                    span.badge.text-bg-secondary.m-1 0
                .container-md.text-center.p-2.mt-3.border
                    form.d-flex(role='search')
                        input.form-control.me-2(type='search', placeholder='Attendee Email', aria-label='Attendee Email')
                        button.btn.btn-outline-success.mx-1(type='submit') Check in
                        button.btn.btn-outline-secondary.mx-1(type='submit') Scan QR Code

            #nav-applications.tab-pane.fade(role='tabpanel', aria-labelledby='nav-applications-tab', tabindex='0')
                h1.m-2 Applications
                .container-md.text-center.p-2.border
                    button.btn(type='button')
                        | All
                        span.badge.text-bg-primary.m-1 4

                    button.btn(type='button')
                        | Undecided
                        span.badge.text-bg-secondary.m-1 4

                    button.btn(type='button')
                        | Accepted
                        span.badge.text-bg-success.m-1 4

                    button.btn(type='button')
                        | Denied
                        span.badge.text-bg-danger.m-1 4

                    button.btn(type='button')
                        | Flagged
                        span.badge.text-bg-warning.m-1 4
                .container-md.text-center.p-2.mt-3.border
                    form.d-flex(role='search')
                        input.form-control.me-2(type='search', placeholder='Search', aria-label='Search')
                        button.btn.btn-outline-success.mx-1(type='submit') Search
                        button.btn.btn-outline-success.mx-1(type='submit') Download CSV
                .container-md.text-center.p-2.mt-3.border

            #nav-hardware.tab-pane.fade(role='tabpanel', aria-labelledby='nav-hardware-tab', tabindex='0')
                h1.m-2 Hardware Inventory
                .d-flex.justify-content-around
                    button.btn.btn-secondary.m-1(type='button', data-bs-toggle='modal', data-bs-target='#newHardware')
                        | Create New Hardware Item
                    button.btn.btn-secondary.m-1(type='button', data-bs-toggle='modal', data-bs-target='#viewHardware')
                        | View All Checked-Out Items

                #newHardware.modal.fade(data-bs-backdrop='static', data-bs-keyboard='false', tabindex='-1', aria-labelledby='staticBackdropLabel', aria-hidden='true')
                    .modal-dialog
                        .modal-content
                            .modal-header
                                h1#staticBackdropLabel.modal-title.fs-5 Create New Hardware
                                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                            .modal-body
                                .form-floating.mb-3
                                    input#floatingName.form-control(type='email', placeholder='name@example.com')
                                    label(for='floatingName') Name
                                .form-floating.mb-3
                                    input#floatingCount.form-control(type='password', placeholder='Password')
                                    label(for='floatingCount') Count
                                .form-floating.mb-3
                                    input#floatingLink.form-control(type='password', placeholder='Password')
                                    label(for='floatingLink') Link
                                select.form-select.mb-3(aria-label='Default select example')
                                    option(selected='') Open this select menu
                                    option(value='1') Microprocessors
                                    option(value='2') Microcontrollers
                                    option(value='3') etc

                            .modal-footer
                                button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Close
                                button.btn.btn-primary(type='button') Understood

                - const data = [["5be5a912-a730-11ed-91d9-ac99fa1c98aa","wire","yes","wire",2,"yes","2023-02-07T16:42:46.000Z","2023-02-07T16:42:46.000Z","ralphs moms house"],["5be5a9f8-a730-11ed-91d9-ac99fa1c98aa","mouse","yes","mice",2,"yes","2023-02-07T16:42:46.000Z","2023-02-07T16:42:46.000Z","ralphs moms house"],["5be5aa48-a730-11ed-91d9-ac99fa1c98aa","computer","yes","computer",2,"no","2023-02-07T16:42:46.000Z","2023-02-07T16:42:46.000Z","ralphs moms house"]];
                - var x = 0;
                .container-sm.overflow-x-scroll.mt-3.p-3
                    //table.table.table-striped.table-bordered
                    //        thead
                    //            tr
                    //                th(scope='col') id
                    //                th(scope='col') Name
                    //                th(scope='col') Last
                    //                th(scope='col') Handle
                    //                th(scope='col') First
                    //                th(scope='col') Last
                    //                th(scope='col') Handle
                    //                th(scope='col') Handle
                    //                th(scope='col') Handle
                    //        tbody
                    //            each item of data
                    //                - x++
                    //                tr
                    //                    each value of item
                    //                        td=value
                    //h3 Hardware Checked Out
                    //h5= x
                    table.table.table-striped.table-bordered.my-4
                        thead
                            tr
                                th(scope='col') ID
                                th(scope='col') Name
                                th(scope='col') Hardware Name
                                th(scope='col') X
                                th(scope='col') X
                                th(scope='col') X
                                th(scope='col') Time Checked Out
                                th(scope='col') X
                                th(scope='col') X
                                th(scope='col') Actions

                            tbody
                                each item of data
                                    - x++
                                    tr
                                        each value of item
                                            td=value
                                        td
                                            .d-grid.gap-2.text-nowrap
                                                button.btn.btn-danger(type='button') Return Item
                                                button.btn.btn-secondary(type='button') Message on Discord

                        h5 Total Checked Out : #{x}


            #nav-prizes.tab-pane.fade(role='tabpanel', aria-labelledby='nav-prizes-tab', tabindex='0') ...
            #nav-projects.tab-pane.fade(role='tabpanel', aria-labelledby='nav-projects-tab', tabindex='0') projects
            #nav-admins.tab-pane.fade(role='tabpanel', aria-labelledby='nav-admins-tab', tabindex='0')
                h1.m-2 Feature Flags
                .container-md
                    ul.list-group
                        li.list-group-item
                            input#firstCheckbox.form-check-input.me-1(type='checkbox', value='')
                            label.form-check-label(for='firstCheckbox') Schedule
                        li.list-group-item
                            input#secondCheckbox.form-check-input.me-1(type='checkbox', value='')
                            label.form-check-label(for='secondCheckbox') Mentorship
                        li.list-group-item
                            input#thirdCheckbox.form-check-input.me-1(type='checkbox', value='')
                            label.form-check-label(for='thirdCheckbox') Applications
                        li.list-group-item
                            input#fourthCheckbox.form-check-input.me-1(type='checkbox', value='')
                            label.form-check-label(for='fourthCheckbox') Hardware
                        li.list-group-item
                            input#fifthCheckbox.form-check-input.me-1(type='checkbox', value='')
                            label.form-check-label(for='fifthCheckbox') Prizes
                        li.list-group-item
                            input#sixthCheckbox.form-check-input.me-1(type='checkbox', value='')
                            label.form-check-label(for='sixthCheckbox') Projects


        // PARTICIPANT DASHBOARD VIEW
        //nav
        //    #nav-tab.nav.nav-tabs.justify-content-center(role='tablist')
        //        button#nav-home-tab.nav-link.active(data-bs-toggle='tab', data-bs-target='#nav-home', type='button', role='tab', aria-controls='nav-home', aria-selected='true') Home
        //        button#nav-application-tab.nav-link(data-bs-toggle='tab', data-bs-target='#nav-application', type='button', role='tab', aria-controls='nav-application', aria-selected='false') My Application
        //        button#nav-project-tab.nav-link(data-bs-toggle='tab', data-bs-target='#nav-project', type='button', role='tab', aria-controls='nav-project', aria-selected='false') My Project
        //
        //
        //
        //        .row.row-cols-1.row-cols-md-3.g-4.text-center
        //            .col
        //                .card
        //                    .card-body
        //                        h5.card-title Check In
        //                        p.card-text
        //                            | QR Code WEEEEE
        //                        a.btn.btn-primary(href='#') Go somewhere
        //            .col
        //                .card
        //                    .card-body
        //                        h5.card-title Upcoming Events
        //                        p.card-text
        //                            | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
        //                        a.btn.btn-primary(href='#') Go somewhere
        //            .col
        //                .card
        //                    .card-body
        //                        h5.card-title Discord Channel
        //                        p.card-text
        //                            | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
        //                        a.btn.btn-primary(href='#') Go to Discord Channel
        //
        //
        //    #nav-profile.tab-pane.fade(role='tabpanel', aria-labelledby='nav-profile-tab', tabindex='0') ...
        //    #nav-contact.tab-pane.fade(role='tabpanel', aria-labelledby='nav-contact-tab', tabindex='0') ...
        //    #nav-checkIn.tab-pane.fade(role='tabpanel', aria-labelledby='nav-checkIn-tab', tabindex='0') ...
        //    #nav-applications.tab-pane.fade(role='tabpanel', aria-labelledby='nav-applications-tab', tabindex='0') ...
        //    #nav-hardware.tab-pane.fade(role='tabpanel', aria-labelledby='nav-hardware-tab', tabindex='0')
        //
        //
        //
        //        h1.m-2 Hardware Inventory
        //
        //        .d-flex.justify-content-around
        //            button.btn.btn-secondary.m-1(type='button', data-bs-toggle='modal', data-bs-target='#newHardware')
        //                | Create New Hardware Item
        //            button.btn.btn-secondary.m-1(type='button', data-bs-toggle='modal', data-bs-target='#viewHardware')
        //                | View All Checked-Out Items
        //
        //
        //        #newHardware.modal.fade(data-bs-backdrop='static', data-bs-keyboard='false', tabindex='-1', aria-labelledby='staticBackdropLabel', aria-hidden='true')
        //            .modal-dialog
        //                .modal-content
        //                    .modal-header
        //                        h1#staticBackdropLabel.modal-title.fs-5 Create New Hardware
        //                        button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
        //                    .modal-body
        //                        .form-floating.mb-3
        //                            input#floatingName.form-control(type='email', placeholder='name@example.com')
        //                            label(for='floatingName') Name
        //                        .form-floating.mb-3
        //                            input#floatingCount.form-control(type='password', placeholder='Password')
        //                            label(for='floatingCount') Count
        //                        .form-floating.mb-3
        //                            input#floatingLink.form-control(type='password', placeholder='Password')
        //                            label(for='floatingLink') Link
        //                        select.form-select.mb-3(aria-label='Default select example')
        //                            option(selected='') Open this select menu
        //                            option(value='1') Microprocessors
        //                            option(value='2') Microcontrollers
        //                            option(value='3') etc
        //
        //
        //                    .modal-footer
        //                        button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Close
        //                        button.btn.btn-primary(type='button') Understood
        //
        //        table.table
        //            thead
        //                tr
        //                    th(scope='col') #
        //                    th(scope='col') Name
        //                    th(scope='col') Category
        //                    th(scope='col') Count
        //                    th(scope='col') Available
        //            tbody
        //                tr
        //
        //                    td
        //                        a(href="") 123456
        //                    td Arduino
        //                    td @mdo
        //
        //
        //    #nav-prizes.tab-pane.fade(role='tabpanel', aria-labelledby='nav-prizes-tab', tabindex='0') ...
        //    #nav-projects.tab-pane.fade(role='tabpanel', aria-labelledby='nav-projects-tab', tabindex='0') projects
        //    #nav-admins.tab-pane.fade(role='tabpanel', aria-labelledby='nav-admins-tab', tabindex='0') admin
        //