doctype html
html
    head
        title Image Gallery
        link(rel='icon', type='image/x-icon', href='/static/images/favicon.png')
        link(rel='stylesheet', type='text/css', href='/static/stylesheets/gallery.css')
    body
        include includes/navbar.pug
        h1 Image Gallery
        .container
            .main-img
                button.close &times;
                | &#x9;&#x9;
                button.next Next
                | &#x9;&#x9;
                button.prev Prev
                | &#x9;&#x9;
                img(src='https://demo.epic-webdesign.com/tf-fable/cafe/images/food0.jpg', alt='')
            | &#x9;
            .overlay
            | &#x9;
            .gallery-wrapper
                .img
                    img(src='/static/images/david_face.jpg', alt='david_one')
                | &#x9;&#x9;
                .img
                    img(src='/static/images/david_face_two.jpg', alt='david_two')
                | &#x9;&#x9;
                .img
                    img(src='/static/images/david_standing.jpg', alt='david_three')
                | &#x9;&#x9;
                .img
                    img(src='/static/images/david_bike.jpg', alt='david_four')
                | &#x9;&#x9;
                .img
                    img(src='/static/images/david_face.jpg', alt='david_five')
                | &#x9;&#x9;
                .img
                    img(src='/static/images/david_standing.jpg', alt='david_six')
                .img
                    img(src='/static/images/david_face_two.jpg', alt='david_seven')
                .img
                    img(src='/static/images/david_bike.jpg', alt='david_eight')
                .img
                    img(src='/static/images/derek.png', alt='derek_one')
