doctype html
html
    head
        title Image Gallery
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='icon', type='image/x-icon', href='/static/images/favicon.png')
        link(rel='stylesheet', type='text/css', href='/static/stylesheets/gallery.css')
    body
        include includes/navbar.pug
        .maximilian
            h1 Image Gallery
            .container
                .gallery-wrapper
                    .img
                        img(src='/static/images/TeamFocused.PNG', alt='hacks_four')
                    .img
                        img(src='/static/images/Presentation.PNG', alt='hacks_five')
                    .img
                        img(src='/static/images/Drone.PNG', alt='hacks_six')
                    .img
                        img(src='/static/images/Hardware.PNG', alt='hacks_one')
                    .img
                        img(src='/static/images/TylerEating.PNG', alt='hacks_two')
                    .img
                        img(src='/static/images/NerfWinners.PNG', alt='hacks_three')
