html
	body
		include includes/navbar.pug
		
		div(style='text-align: center; height: 50px;')
			| Hardware Page
		.hardwareInfo(contenteditable='true')
			| Hardware Information
		table(style='width: 50%; font-size: 25px;')
			tr
				th Hardware Name
				|             
				th Availability
			|         
			tr
				td Example Hardware Name 1
				|             
				td Example Availability 1
			|         
			tr
				td Example Hardware Name 2
				|             
				td Example Availability 2