html
  head
    link(rel='icon', type='image/x-icon', href='/static/images/favicon.png')
    link(rel='stylesheet', type='text/css', href='/static/stylesheets/hardwarePage.css')
    body
     include includes/navbar.pug
     .container-sm
      h1 Hardware List
      table.table.table-success.table-striped.table-hover.table-bordered
            thead
              tr.table-dark
                th(scope='col') #
                th(scope='col') Hardware
                th(scope='col') Availability
            tbody
              tr
                th(scope='row') 1
                td Ruler
                td Available
              tr
                th(scope='row') 2
                td Pencil
                td
              tr
                th(scope='row') 3
                td Stapler
                td