html
  head
    link(rel='stylesheet', type='text/css', href='/static/stylesheets/style.css')
  body
    table
      caption Council budget (in &pound;) 2018
      thead
        tr
          th(scope='col') Items
          th(scope='col') Expenditure
      tbody
        tr
          th(scope='row') Donuts
          td 3,000
        tr
          th(scope='row') Stationery
          td 18,000