doctype html
html
  head
    title  YCP Hacks
    // CSS only
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='/static/stylesheets/judgingCriteria.css')
  body
    include includes/navbar.pug
    h2  Judging Criteria 
    br
    h2  Hack Categories 
    br
    h2  Sponsored Hacks 

