doctype html
html
  head
    title  YCP Hacks 
    // CSS only
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', type='image/x-icon', href='/static/images/favicon.png')
    link(rel='stylesheet', type='text/css', href='/static/stylesheets/judgingCriteria.css')
  body
    include includes/navbar.pug
    //.bgimg-1
    //  .caption
    //    span.border JUDGING CRITERIA
    //div(style='color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: center;')
    //  //h3(style='text-align:center;') Judging Criteria
    //  p
    //    | TBD
    //
    //.bgimg-1
    //  .caption
    //    span.border HACK CATEGORIES
    //div(style='color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: center;')
    //  //h3(style='text-align:center;') Hack Categories
    //  li Best of show
    //  li YCP Hack
    //  li Gaming Hack
    //  li Hardware Hack
    //  li First Hack
    //  li Hackers Choice
    //  li Google Cloud
    //
    //.bgimg-1
    //  .caption
    //    span.border SPONSORED HACKS
    //div(style='color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: center;')
    //  //h3(style='text-align:center;') Sponsored Hacks
    //  h2 Google Cloud Hack
    //  p
    //  | Create a hack using any Google Cloud service in order to be entered into the Google Hack category.
    //  br
    //  br
    //  h2 YCP Hacks 2022: The Schneider Prize for Technology Innovation
    //  h2 Graham Center for Collaborative Innovation Category
    //  h4 The Graham Center for Collaborative Innovation is sponsoring a $500 prize for the group Hack that best illustrates the power and processes of collaborative thinking. That can be illustrated by:
    //  p  1) a team of individuals that features--and takes into account--diverse disciplines, cultures, genders, etc in its work in ways that improve the product.
    //  |  2) a team that can best describe its collaborative processes, and how collaborations supported innovative ideas.
    //  |  3) a team who can describe what it learned by collaboration, and how that might affect their future work.

  .bg
  .bg.bg2
  .bg.bg3
  .category
    .nocap(style='margin:auto;')
      span.cat.shadow-lg JUDGING CRITERIA
  .newcategory
    span.info  I should be below!
  .category
    .nocap(style='margin:auto;')
      span.cat.shadow-lg HACK CATEGORIES
  .newcategory
    span.info  I should be below!
  .category
    .nocap(style='margin:auto;')
      span.cat.shadow-lg SPONSORED HACKS
  .newcategory
    span.info
              h2 Google Cloud Hack
              p
              | Create a hack using any Google Cloud service in order to be entered into the Google Hack category.
              br
              br
              h2 YCP Hacks 2022: The Schneider Prize for Technology Innovation
              br
              h2 Graham Center for Collaborative Innovation Category
              h6 The Graham Center for Collaborative Innovation is sponsoring a $500 prize for the group Hack that best illustrates the power and processes of collaborative thinking. That can be illustrated by:
              li   A team of individuals that features--and takes into account--diverse disciplines, cultures, genders, etc in its work in ways that improve the product.
              li   A team that can best describe its collaborative processes, and how collaborations supported innovative ideas.
              li   A team who can describe what it learned by collaboration, and how that might affect their future work.
