doctype html
html
  head
  body
    h2 Login
    form(action='/action_page.php')
      label(for='fname') Username:
      br
      input#fname(type='text', name='fname', value='')
      br
      label(for='lname') Password:
      br
      input#lname(type='password', name='lname', value='')
      br
      br
      input(type='submit', value='Submit')

