doctype html
html
    head
        title  YCP Hacks
        // CSS only
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='icon', type='image/x-icon', href='/static/images/favicon.png')
        link(rel='stylesheet', type='text/css', href='/static/stylesheets/dashboard.css')

    body
        include includes/navbar.pug
        include includes/participantDashboardBar.pug
            .display-5 YCP Hacks
                hr