html
	body
		include includes/navbar.pug
		div(contenteditable='true')
		.prizeList
			u List of Past Prizes
			|     
			.prizeList
			| Example Year 1
			|     
		.prizeWinners
			p Example First Place
			|         
			p Example Second Place
			|         
			p Example Third Place
			|     
		.prizeList
			| Example Year 2
			|     
			.prizeWinners
			p Example First Place
			|         
			p Example Second Place
			|         
			p Example Third Place