html
	body
		include includes/navbar.pug
		.container-sm
			h1.text-center Past Events Page
			table.table.table-success.table-striped.table-hover.table-bordered(style='text-align: center;' contenteditable='true')
				tr
					th.table-dark Past Events
				tr
					td Event #1
				tr
					td Event #2
				tr
					td Event #3
			table.table.table-success.table-striped.table-hover.table-bordered(style='text-align: center;' contenteditable='true')
				tr
					th.table-dark Past Prizes
				tr
					td Prize #1
				tr
					td Prize #2
				tr
					td Prize #3
