html
    head
    body
        include includes/navbar.pug
        h1.text-center Poll Results
        .container-sm
            table.table.table-success.table-striped.table-hover.table-bordered
                tr
                    th.table-dark Column
                    th.table-dark Column
                tr
                    td Data
                    td Data
