html
  head
    link(rel='icon', type='image/x-icon', href='/static/images/favicon.png')
    link(rel='stylesheet', type='text/css', href='/static/stylesheets/pollView.css')
  body
   include includes/navbar.pug
   include includes/participantDashboardBar.pug

           .secondPage
               .content
                   .container-sm
                       h1.text-center test
