doctype html
html
    head
        title  YCP Hacks
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='icon', type='image/x-icon', href='/static/images/favicon.png')
        //link(rel='stylesheet', type='text/css', href='/static/stylesheets/teamSettings.css')

    body
        include includes/navbar
        include includes/dashboardBar

            .display-5 Registration Settings
                hr

            .container1.shadow
                h1 Registration Settings
                .form-check.form-switch
                    input#flexSwitchCheckDefault.form-check-input(type='checkbox', role='switch')
                    label.form-check-label(for='flexSwitchCheckDefault') Manually Close Registration
                    .text-muted If toggle is on, participants will not be able to register. This will also close the waitlist.

                .form-check.form-switch
                    input#flexSwitchCheckChecked.form-check-input(type='checkbox', role='switch')
                    label.form-check-label(for='flexSwitchCheckChecked') Close Registration Upon Challenge Completion
                    .text-muted If toggle is turned on, registration will close automatically on the event end date and time set in Event Details. This will also close the waitlist.

                hr
                button.save.d-flex.align-items-center Save


            .container1.shadow.my-4
                h1 Registration Form
                p Changes involving registration for participants
                hr
                button.save.d-flex.align-items-center Save