html
	head
		include includes/navbar.pug
		link(rel='stylesheet', type='text/css', href='/static/stylesheets/sponsorPage.css')

	body
		.ycpHeader.text-center Sponsoring
		.d-flex.flex-column
			.platinum.hacks Platinum

			.gold.hacks Gold
				.row.row-cols-3
					.col
						.card.m-3
							.row.g-0
								.col-md-4
									img.img-fluid.rounded-start(src='static/images/sponsors/bd_logo.png', alt='BD')
								.col-md-8
									.card-body
										h5.card-title BD
										p.card-text
											| BD is one of the largest global medical technology companies in the world and is advancing the world of healthTM by improving medical discovery, diagnostics and the delivery of care. The company supports the heroes on the frontlines of healthcare by developing innovative technology, services and solutions that help advance both
											| clinical therapy for patients and clinical process for healthcare providers.
			.silver.hacks Silver
				.row.row-cols-3
					.col
						.card.m-3
							.row.g-0
								.col-md-4
									img.img-fluid.rounded-start(src='static/images/sponsors/pennWaste.png', alt='BD')
								.col-md-8
									.card-body
										h5.card-title Penn Waste
										p.card-text
											| This is a wider card with suppor

			.bronze.hacks Bronze