html
	head
		meta(charset='UTF-8')
		|     
		title About our Sponsors
		|     
	body
		include includes/navbar.pug
		div(style='text-align: center; height: 50px;')
		| Sponsor Page
		.sponsorInfo(contenteditable='true')
		| Sponsor Information

	