html
    head
        link(rel='icon', type='image/x-icon', href='/static/images/favicon.png')
    body
        include includes/navbar.pug
        .container-sm
            h1.text-center Team Manager Page
            table.table.table-success.table-striped.table-hover.table-bordered(style='text-align: center; table-layout: fixed;', contenteditable='true')
                tr
                    th.table-dark Team Name
                    th.table-dark Team Manager Name
            table.table.table-success.table-striped.table-hover.table-bordered(style='text-align: center; table-layout: fixed;', contenteditable='true')
                tr
                    th.table-dark Pending Members
                    th.table-dark Email
                tr
                    td Person #1
                    td person1@email.com
                tr
                    td Person #2
                    td person2@email.com
                tr
                    td Person #3
                    td person3@email.com
            table.table.table-success.table-striped.table-hover.table-bordered(style='text-align: center; table-layout: fixed;', contenteditable='true')
                tr
                    th.table-dark Your Team Members
                    th.table-dark Email
                tr
                    td Member #1
                    td member1@email.com
                tr
                    td Member #2
                    td member2@email.com
                tr
                    td Member #3
                    td member3@email.com