html
  head
    link(rel='icon', type='image/x-icon', href='/static/images/favicon.png')
  body
   include includes/navbar.pug
   include includes/dashboardBar.pug
           .display-5 User List
               hr
           .containter1
