* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    transition: transform 0.25s ease;
	object-fit: cover;
	cursor: pointer;
}

img:hover {
	-webkit-transform:scale(1.5);
	transform:scale(1.5);
}

.maximilion {
	background: #4EA764;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    /*min-height: 100vh;*/
    padding: 1rem;
    z-index: 2;
    position: relative;
}

.container .gallery-wrapper {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    z-index: 4;
}


@keyframes imgTransition {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    50% {
        opacity: 0.5;
        visibility: visible;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

h1 {
    text-align: center;
	/*font-family: 'Brush Script MT', cursive;*/
}