.nav-link, .navbar-brand{
    color:white;
}
nav{
    width: 100% !important;
}

.dropdown-item{
    color:black;
}

/*Containers with admin options*/
.container1{
    padding: 1em;
    margin: auto;
    height: auto;
    width: 70%;
    background: #87dea2;
    border-color: darkgreen;
    border-radius: 10px;
}

button.save{
    border-radius: 10px;
    justify-content: center;
    margin: auto;
    float: bottom;
    left: 50%;
    width: auto;
    height: auto;
    white-space: nowrap;
    /*padding: .5em;*/
    background: orange;
}

input:hover{
    cursor: pointer;
}

/* ------SCROLL BAR------*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #e3f1e3;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/*-----------------------*/