/*york college green*/
.navbar{
    background: #39b54a !important;
}
.navbarLink.nav-link, .dropdown-toggle, .navbar-brand, .nav-link.dropdown-toggle{
    color:white;
}

.dropdown-item{
    color:black;
}
.navbar-nav{
    right: 130px;
    position: relative;
}

@media (max-width: 700px) {
    .mlh-logo{
        right: 45%;
        position: relative;
    }

}

/* ------SCROLL BAR------*/
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    /*background: #e3f1e3;*/
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/*-----------------------*/