.joshua {
	height: 150%;
	background-color: #4EA764;
}

.table.table-success.table-striped.table-hover.table-bordered {
	height: 250px;
	box-shadow: 5px 10px #3C5242;
}

th.table-dark {
	color: blue;
}