input#quantity{
    border-color: darkgreen;
    border-radius: 10px;
    width:30%;
}

/*button.save{*/
/*    justify-content: center;*/
/*    margin: auto;*/
/*    float: bottom;*/
/*    left: 50%;*/
/*    width: 100px;*/
/*    padding: .5em;*/
/*    background: orange;*/
/*}*/
