/* ------SPONSOR CAROUSEL------ */
.container-fluid{
    text-align: center;
}
.goldTier{
    position: relative;
    filter: drop-shadow(0px 5px 5px grey);
    animation: goldTier 2.0s infinite;
}
.image{
    position: relative;
    filter: drop-shadow(0px 5px 5px grey);
    animation: other 2.0s infinite;
}
@keyframes goldTier {
    50% {
        filter: drop-shadow(0px 10px 20px #2e7cd9);
    }
}
@keyframes other {
    50% {
        filter: drop-shadow(0px 10px 20px #b23333);
    }
}
.carousel, .carousel-inner, .carousel-item, .carousel-item-container{
    height: 200px;
}
.carousel-item-container{
    display: flex;
    justify-content: space-between;
    border-radius:10px;
    background-color: #97cd8a;
}
.carousel-item-container .dixie{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 33.3%;
    height: auto;
}
.linkSponsor{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-fluid1{
    object-fit: fill;
    width: 75%;
    height: 75%;
}
.sponsorImage:hover{
    transform: scale(1.2);
}

/* ------HEADERS------ */
h1{
    text-align: center;
}
h3{
    color: black;
}

/* ------YOUTUBE RECAPS------ */
 @media (max-width: 500px){
  .youtube{
      flex-direction: column;
      align-items: center;
  }
}
.videos{
    height: 40vh;
    width: 35vw;
}

/* ------CONTAINER FOR ALL SECTIONS------ */
.container{
    background: #8ad08a;
    border-radius:10px;
}

/* ------SCHEDULE OF EVENTS------ */
td,tr{
    color: black;
}
.nav-tabs{
    background: #84c284;
}

/* ------SCROLL BAR------*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #e3f1e3;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* ------FAQ Section------ */
.FAQ.accordion {
  background-color: #63b163;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  border: solid;
  text-align: center;
  outline: none;
  font-size: 15px;
  transition: 0.2s;
}

.accordion:hover {
  background-color: #cfe7cf;
}

.panel {
  padding: 0 18px;
  background-color: #b9dcb9;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}