body {
    background-color: #efebeb;
    font-family: sans-serif;
    background-image: linear-gradient(90deg, #8eb5da 0%, #1bb144 100%);
    font-weight: 500;
    font-size: 1.2em;
    text-align: center;
}

/* ------SPONSOR CAROUSEL------ */
.platinum {
    animation: platinum 2.0s infinite;
}

.gold {
    animation: gold 2.0s infinite;
}

.silver {
    animation: silver 2.0s infinite;
}

.bronze {
    animation: bronze 2.0s infinite;
}

@keyframes platinum {
    50% {
        filter: drop-shadow(0px 10px 20px #52b6c8);
    }
}

@keyframes gold {
    50% {
        filter: drop-shadow(0px 10px 20px #e27628);
    }
}

@keyframes silver {
    50% {
        filter: drop-shadow(0px 10px 20px #859294);
    }
}

@keyframes bronze {
    50% {
        filter: drop-shadow(0px 10px 20px #efb521);
    }
}

.carousel, .carousel-inner, .carousel-item, .carousel-item-container {
    height: 250px;
}

.carousel-item-container {
    display: flex;
    justify-content: space-between;
}

.carousel-item-container .dixie {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 33.3%;
    height: auto;
}

.linkSponsor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-fluid1 {
    object-fit: fill;
    width: 75%;
    height: 75%;
}

.sponsorImage:hover {
    transform: scale(1.2);
}


/* ------HEADERS------ */
h1 {
    text-align: center;
}

h3 {
    color: black;
}

/* ------YOUTUBE RECAPS------ */
@media (max-width: 500px) {
    .youtube {
        flex-direction: column;
        align-items: center;
    }
}

.videos {
    height: 40vh;
    width: 75vw;
}


/* ------CONTAINER FOR ALL SECTIONS------ */
.container {
    background: #8ad08a;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* ------SCHEDULE OF EVENTS------ */
td, tr {
    color: black;
}

.nav-tabs {
    background: #84c284;
}

/* ------FAQ Section------ */
.accordion {
    --bs-accordion-bg: none;
    --bs-accordion-border-color: none;
    --bs-accordion-btn-active-color: none;
}

.accordion-item {
    margin: 10px;
    /*box-shadow: rgb(103, 100, 100) 0px 3px 8px;*/
}

.accordion-body {
    font-size: 16px;
}

.accordion-button:not(.collapsed) {
    background-color: #97cd8a;
    color: black;
}

.accordion-button:focus {
    box-shadow: none;
}

/* ------The Team------ */
.memberPhoto {
    display: table-cell;
    width: 180px;
    height: 150px;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.memberPhoto:hover .memberContainer {
    background-color: rgba(16, 23, 41, 0);
}


.memberPhoto .memberTitle {
    position: absolute;
    text-transform: uppercase;
    padding: 7px;
    z-index: 1000;
    top: 60%;
    left: -80%;
    color: #ffffff;
    font-weight: 300;
    font-size: 13px;
    width: 80%;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    transition: all 0.7s;

}

.memberPhoto:hover .memberTitle {
    background-color: #1e4944;
    left: 0px;
    white-space: nowrap;

}

.memberPhoto .memberLabel {
    position: absolute;
    font-family: 'Roboto';
    padding: 5px;
    z-index: 1000;
    top: 60%;
    right: -85%;
    margin-top: 25px;
    color: #ffffff;
    font-weight: 300;
    font-size: 11px;
    width: 80%;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    transition: all 0.7s;

}

.memberPhoto:hover .memberLabel {
    background-color: #208341;
    right: 0px;
    white-space: nowrap;
}

@media (max-width: 500px) {
    .memberPhoto {
        height: 60px;
    }

    .memberPhoto .memberTitle {
        font-size: 8px;
        width: 100%;
        top: 10%;
        left: -100%;
    }

    .memberPhoto .memberLabel {
        top: 0;
        width: 100%;
        right: -100%;
    }
}

/* ------First Section------ */
.intro {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ycpHeader {
    font-family: 'MuseoModerno', serif;
    color: #ffffff;
    font-size: 10vw;
    letter-spacing: 1.5pt;
    margin-bottom: 0px;
}

.hacks {
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 2pt;
    margin-top: 0px;
    margin-bottom: 3px;
    color: #1a3a69;
}

.location {
    font-size: 1em;
    font-weight: 600;
    letter-spacing: -0.3pt;
}

/* ------Intro Buttons------ */
.reggy {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 16px;
}

.reggy:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.reggy:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.reggy:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

hr {
    border-width: 0 0 1px;
    color: #000000;
    border-image: linear-gradient(90deg, rgba(135, 206, 235, 0), #000000 50%, rgba(135, 206, 235, 0) 100%) 0 0 100%;
    border-style: solid;
}

.img2{
    width: 100%;
    align-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
