body {
    background-color: #efebeb;
}

/* ------SPONSOR CAROUSEL------ */

.goldTier {
    position: relative;
    filter: drop-shadow(0px 5px 5px grey);
    animation: goldTier 2.0s infinite;
}

.image {
    position: relative;
    filter: drop-shadow(0px 5px 5px grey);
    animation: other 2.0s infinite;
}

@keyframes goldTier {
    50% {
        filter: drop-shadow(0px 10px 20px #2e7cd9);
    }
}

@keyframes other {
    50% {
        filter: drop-shadow(0px 10px 20px #b23333);
    }
}

.carousel, .carousel-inner, .carousel-item, .carousel-item-container {
    height: 250px;
}

.carousel-item-container {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.carousel-item-container .dixie {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 33.3%;
    height: auto;
}

.linkSponsor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-fluid1 {
    object-fit: fill;
    width: 75%;
    height: 75%;
}

.sponsorImage:hover {
    transform: scale(1.2);
}

/* ------HEADERS------ */
h1 {
    text-align: center;
}

h3 {
    color: black;
}

/* ------YOUTUBE RECAPS------ */
@media (max-width: 500px) {
    .youtube {
        flex-direction: column;
        align-items: center;
    }
}

.videos {
    height: 40vh;
    width: 75vw;
}

/* ------CONTAINER FOR ALL SECTIONS------ */
.container {
    background: #8ad08a;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* ------SCHEDULE OF EVENTS------ */
td, tr {
    color: black;
}

.nav-tabs {
    background: #84c284;
}


/* ------FAQ Section------ */
.accordion-item {
    margin: 20px;
    box-shadow: rgb(16, 143, 57) 0px 3px 8px;

}


/* ------The Team------ */
.fond {
    position: absolute;
    padding-top: 85px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #65C6BB;
}

.carreaux_presentation_light {
    display: table-cell;
    width: 180px;
    height: 150px;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.carreaux_presentation_light:hover .shadow_swhow_mini {
    background-color: rgba(16, 23, 41, 0);
}

.carreaux_presentation_light .deroul_titre {
    position: absolute;
    text-transform: uppercase;
    padding: 7px;
    z-index: 1000;
    top: 60%;
    left: -80%;
    color: #ffffff;
    font-weight: 300;
    font-size: 13px;
    width: 80%;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    transition: all 0.7s;

}

.carreaux_presentation_light:hover .deroul_titre {
    background-color: #1e4944;
    left: 0px;
    white-space: nowrap;

}

.carreaux_presentation_light .deroul_soustitre {
    position: absolute;
    font-family: 'Roboto';
    padding: 5px;
    z-index: 1000;
    top: 60%;
    right: -85%;
    margin-top: 25px;
    color: #ffffff;
    font-weight: 300;
    font-size: 11px;
    width: 80%;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    transition: all 0.7s;

}

.carreaux_presentation_light:hover .deroul_soustitre {
    background-color: #3c9f5d;
    right: 0px;
    white-space: nowrap;
}