html
  head    
  body
   include includes/navbar.pug
   .container-sm
    table.table.table-success.table-striped.table-hover.table-bordered
      tr
        each column in columns
          th.table-dark= column
      each row in rows
        tr
          each entry in row
            td= entry