doctype html
html
  head
    title  YCP Hacks 
    // CSS only
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    include includes/navbar.pug
    h2  Judging Criteria 
    br
    h2  Hack Categories 
    br
    h2  Sponsored Hacks 

